<div th:fragment="navbar">
    <style>
            @font-face{
        src: url(fonts/nightcore.ttf);
        font-family: nightcore;
    }
                @font-face{
        src: url(fonts/shakaPow.ttf);
        font-family: shakapow;
    }
    </style>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify">
    <div class="container-fluid justify-content-center">
      <a style="font-family:nightcore;" class="navbar-brand ms-3" th:href="@{/}">Apex Map Finder</a>
<!--     &trade;   -->
      <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
<!--          <li class="nav-item active">-->
<!--            <a th:classappend="${#request.requestURI == '/' ? 'fw-bold active':''}" class="nav-link" th:href="@{/}">Home</a>-->
<!--          </li>-->
          <li class="nav-item">
            <a th:classappend="${#request.requestURI == '/current' ? 'fw-bold active':''}" class="nav-link" th:href="@{/current}">Current Maps</a>
          </li>
          <li class="nav-item">
            <a th:classappend="${#request.requestURI == '/next' ? 'fw-bold active':''}" class="nav-link" th:href="@{/next}">Next Maps</a>
          </li>
          <li class="nav-item">
            <a th:classappend="${#request.requestURI == '/notificationSignUp' ? 'fw-bold active':''}" class="nav-link" th:href="@{/notificationSignUp}">Notifications</a>
          </li>
        </ul>
        <form class="d-flex me-3" th:action="@{/player}" method="GET">
          <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search Player"
                  aria-label="Search"
                  name="name"
                  id="name"
          />
          <button class="btn btn-outline-success" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>
</div>