<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Notification Sign Up</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
    />

    <title>Title</title>
    <style>
      body{
        background-color: #181a1b;
      }
    </style>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<!--            Bootstrap form work         -->
<!--<form class="text-light" action="#" th:action="@{/saveNotification}" th:object="${notification}" method="post">-->
<!--    <div class="form-check" th:each="map : ${allMaps}">-->
<!--        <input class="form-check-input" type="checkbox" id="flexCheckDefault" th:field="*{gameMaps}" th:value="${map}">-->
<!--        <label class="form-check-label" th:for="${#ids.prev('gameMaps')}" th:text="${map.name}"></label>-->

<!--        &lt;!&ndash;        <label class="form-check-label" for="flexCheckDefault">&ndash;&gt;-->
<!--&lt;!&ndash;            Default checkbox&ndash;&gt;-->
<!--&lt;!&ndash;        </label>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="form-check" th:each="map : ${allMaps}">-->
<!--        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" th:field="*{gameMaps}" th:value="${map}">-->
<!--        <label class="form-check-label" for="flexCheckChecked">-->
<!--            Checked checkbox-->
<!--        </label>-->
<!--    </div>-->
<!--<form/>-->

<form method="POST" class="text-light" action="#" th:action="@{/saveNotification}" th:object="${notification}">
    <table border="1">
        <tr>
            <td>Enter your email: </td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <th>Casual Battle Royale: </th>
        <div th:each="map,iter : ${battleRoyaleMaps}">
            <tr>
                <td>
                    <input type="checkbox" th:field="*{gameMaps[__${iter.index}__].name}" th:value="${map}"/>
                    <label th:text="${map.name}"></label>
                    <input type="checkbox" th:field="*{gameMaps[__${iter.index}__].gamemode}" th:value="${map.casual}"/>
                </td>
            </tr>
        </div>
        <th>Casual Arena: </th>
        <div th:each="map,iter : ${arenaMaps}">
            <tr>
                <td>
                    <input type="checkbox" th:field="*{gameMaps[__${iter.index}__].name}" th:value="${map}"/>
                    <label th:text="${map.name}"></label>
                    <input type="checkbox" th:field="*{gameMaps[__${iter.index}__].gamemode}" th:value="${map.casual}"/>
                </td>
            </tr>
        </div>
        <th>Competitive Battle Royale: </th>
        <div th:each="map,iter : ${battleRoyaleMaps}">
            <tr>
                <td>
                    <input type="checkbox" th:field="*{gameMaps[__${iter.index}__].name}" th:value="${map}"/>
                    <label th:text="${map.name}"></label>
                    <input type="checkbox" th:field="*{gameMaps[__${iter.index}__].gamemode}" th:value="${map.ranked}"/>
                </td>
            </tr>
        </div>
        <th>Competitive Arena: </th>
        <div th:each="map,iter : ${arenaMaps}">
            <tr>
                <td>
                    <input type="checkbox" th:field="*{gameMaps[__${iter.index}__].name}" th:value="${map}"/>
                    <label th:text="${map.name}"></label>
                    <input type="checkbox" th:field="*{gameMaps[__${iter.index}__].gamemode}" th:value="${map.ranked}"/>
                </td>
            </tr>
        </div>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>

<div th:replace="fragments/footer :: footer"></div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
></script>
</body>
</html>
