<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand ms-3">Apex Map Finder&trade;</a>
      <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/current}">Current Maps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/next}">Next Maps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/signup}">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/map_prototype}">Old Link</a>
          </li>
        </ul>
        <form class="d-flex me-3" th:action="@{/player}" method="GET">
          <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search Player"
                  aria-label="Search"
                  name="name"
                  id="name"
          />
          <button class="btn btn-outline-success" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>
</div>