<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Title</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous"
  />

  <title>Title</title>
  <style>
      body{
        background-color: #181a1b;
      }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand ms-3">Apex Map Finder&trade;</a>
    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/current}"
          >Current Maps<span class="visually-hidden">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/next}">Next Maps</a>
        </li>
      </ul>
      <form class="d-flex me-3" th:action="@{/player}" method="GET">
        <input
                class="form-control me-2"
                type="search"
                placeholder="Search Player"
                aria-label="Search"
                name="name"
                id="name"
        />
        <button class="btn btn-outline-success" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>

<section id="casual">
  <div class="container-lg my-5 bg-dark rounded">
    <div class="row justify-content-center border-bottom border-5 border-color" style="border-color: #181a1b !important;">
      <!-- #181a1b | Color used on border to match background of body -->
      <div class="col-md-5 d-none d-md-block">
        <h3 class="text-center text-light fw-bold my-3">Battle Royale</h3>
      </div>
      <div class="col-md-2">
        <h1 class="text-center text-light fw-bold my-2">Casual</h1>
      </div>
      <div class="col-md-5 d-none d-md-block">
        <h3 class="text-center text-light fw-bold my-3">Arenas</h3>
      </div>

    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <img class="img-fluid rounded d-block m-auto mt-3" th:src="${nextBR}" alt="BR Image"/>
        <!-- Line below is commented because JS replaces the empty p tag below it with text        -->
        <!--            <p class="lead text-center text-light fw-bold" th:text="${amf.battleRoyale.current.map} + ' - ' + ${amf.battleRoyale.current.remainingTimer}"></p>-->
        <p id="battleRoyale" class="lead text-center text-light fw-bold mt-2">ㅤ</p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid rounded d-block m-auto mt-3" th:src="${nextArena}" alt="Arenas Image"/>
        <!-- Line below is commented because JS replaces the empty p tag below it with text        -->
        <!--            <p class="lead text-center text-light fw-bold" th:text="${amf.arenas.current.map} + ' - ' +${amf.arenas.current.remainingTimer}"></p>-->
        <p id="arenas" class="lead text-center text-light fw-bold mt-2">ㅤ</p>
      </div>
    </div>
  </div>
</section>

<section id="competitive">
  <div class="container-lg my-5 bg-dark rounded">
    <div class="row justify-content-center">
      <div class="col-md">
        <h1 class="text-center text-light fw-bold">Competitive</h1>
      </div>
    </div>
    <div class="row justify-content-center border-bottom border-5 border-danger">
      <div class="col-md-6 d-none d-md-block">
        <h3 class="text-center text-light fw-bold">Battle Royale</h3>
      </div>
      <div class="col-md-6 d-none d-md-block">
        <h3 class="text-center text-light fw-bold">Arenas</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <img class="img-fluid rounded d-block m-auto mt-3" th:src="${nextRanked}" alt="BR Ranked Image"/>
        <p class="lead text-center text-light fw-bold mt-2" th:text="${amf.ranked.next.map} + ' - Starts in May'"></p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid rounded d-block m-auto mt-3" th:src="${nextArenaRanked}" alt="Arenas Ranked Image"/>
        <!-- Line below is commented because JS replaces the empty p tag below it with text        -->
        <!--            <p class="lead text-center text-light fw-bold" th:text="${amf.arenasRanked.current.map} + ' - ' +${amf.arenasRanked.current.remainingTimer}"></p>-->
        <p id="arenasRanked" class="lead text-center text-light fw-bold mt-2">ㅤ</p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<div class="container my-5 bottom-50">

  <footer
          class="text-center text-lg-start text-white bg-dark">
    <div class="container p-4 pb-0">
      <section class="">
        <div class="row">
          <div class="col-lg-8 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-center">FOOTER CONTENT</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Molestiae modi cum ipsam ad, illo possimus laborum ut
              reiciendis obcaecati. Ducimus, quas. Corrupti, pariatur eaque?
              Reiciendis assumenda iusto sapiente inventore animi? Molestiae modi cum ipsam ad.
            </p>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-center">Links</h5>
            <ul class="list-unstyled mb-0 text-center">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>

        </div>
      </section>

      <hr class="mb-4" />

      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Map notifications:</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Sign up!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->

      <hr class="mb-4" />

    </div>
    <div class="text-center pt-3" style="background-color: #181a1b">
      © 2022 Copyright: Apex Map Finder
    </div>
  </footer>
</div>
<!-- End of footer -->

<!--script for displaying countdown timer-->
<script>
      // Set the dates we're counting down to
      var brTimer = [[${battleRoyaleTimer}]];
      var brMapName = "[[${amf.battleRoyale.next.map}]]";
      var countdownDateBR =
        new Date().getTime() + brTimer * 1000;

      var arenaTimer = [[${arenasTimer}]];
      var arenaMapName = "[[${amf.arenas.next.map}]]";
      var countdownDateArenas =
        new Date().getTime() + arenaTimer * 1000;

      var arenasRankedTimer = [[${arenasRankedTimer}]];
      var arenasRankedMapName = "[[${amf.arenasRanked.next.map}]]";
      var countdownDateArenasRanked =
        new Date().getTime() + arenasRankedTimer * 1000;

      function timerFunction(mapName, countdownDate) {
        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countdownDate - now;

        // If the count down is over and its been 5 seconds (5000ms), reload page w/ new map data
        if (distance < 0) {
          if(distance < -5000){
              location.reload();
          }
          return "Loading Map...";
        }

        // Time calculations for days, hours, minutes and seconds
        var hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="arenas"
        if (minutes < 10) {
          minutes = "0" + minutes;
        }
        if (seconds < 10) {
          seconds = "0" + seconds;
        }

        return mapName + " - " + hours + ":" + minutes + ":" + seconds;
      }

      var x = setInterval(function () {
        document.getElementById("battleRoyale").innerHTML = timerFunction(
          brMapName,
          countdownDateBR
        );
        document.getElementById("arenas").innerHTML = timerFunction(
          arenaMapName,
          countdownDateArenas
        );
        document.getElementById("arenasRanked").innerHTML = timerFunction(
          arenasRankedMapName,
          countdownDateArenasRanked
        );

        //reloads method every 2 milliseconds
      }, 200);
    </script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
></script>
</body>
</html>
