<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Notification Sign Up</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
    />

    <title>Title</title>
    <style>
      body{
        background-color: #181a1b;
      }
    </style>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<!--Add signup form here-->
<div class="container-lg my-5">
    <form action="#" th:action="@{/save}" th:object="${form}">
    <div class="row justify-content-center">
        <!-- #181a1b | Color used on border to match background of body -->
        <div class="col-md-12">

                <input
                        class="form-control"
                        type="search"
                        placeholder="asdfjkl@email.com"
                        aria-label="Search"
                        name="email"
                        id="email"
                />
        </div>
    </div>
    <div class="row justify-content-center text-light">
        <!-- #181a1b | Color used on border to match background of body -->
        <div class="col-md-4">
<!--            <form class="d-flex" method="get">-->
                <fieldset>
                    <label for="br">Choose a br map:</label>
                    <select id="br" name="br" size="4" multiple>
                        <option value="King's Canyon">King's Canyon</option>
                        <option value="World's Edge">World's Edge</option>
                        <option value="Olympus">Olympus</option>
                        <option value="Storm Point">Storm Point</option>
                    </select>
                </fieldset>
<!--            </form>-->
        </div>
        <div class="col-md-4">
<!--            <form class="d-flex" method="get">-->
                <fieldset>
                    <label for="ar">Choose a arena map:</label>
                    <select id="ar" name="ar" size="6" multiple>
                        <option value="Drop Off">Drop Off</option>
                        <option value="Habitat 4">Habitat 4</option>
                        <option value="Encore">Encore</option>
                        <option value="Overflow">Overflow</option>
                        <option value="Party Crasher">Party Crasher</option>
                        <option value="Phase Runner">Phase Runner</option>
                    </select>

                </fieldset>
<!--            </form>-->
        </div>
    </div>
        <input type="submit" id="submitButton" th:value="Save">
    </form>
</div>


<div th:replace="fragments/footer :: footer"></div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
></script>
</body>
</html>
